.wrapper-r
  %h2.page-title
    ここは関係者専用ページです。
  .edit-flame
    .side-ber
      .logout-link
        = link_to "[ ログアウト ]", destroy_user_session_path, method: :delete, class: 'btn', id: 'ログアウト'
      .reset-button
        = button_to "受付表をリセット", {controller: 'reservations', action: 'destroy', id: current_user.id}, {method: :delete, class: 'btn'}
    .main
      %table.default_table_class{border: 5}
        %caption <<< 受付表 >>>
        %thead
          %tr
            %th ＜患者番号＞
            %th ＜診察番号＞
            %th ＜名前＞
            %th ＜削除ボタン＞
        %tbody
          - @reservations.each do |reservation|
            %tr
              %td 
                = reservation.user_id
              %td 
                = reservation.examination
              %td
                = @users.find(reservation.user_id).name
              %td 
                = button_to "診察終了", {controller: 'reservations', action: 'update', id: current_user.id}, {method: :patch, class: 'btn'}


