.flame
  .upper-box
    = image_tag '/assets/head-img-tpics.jpg', alt: '病院', height: '100%', width: '100%', class: 'picture'
  .middle-box
    = link_to "[ ログアウト ]", destroy_user_session_path, method: :delete, class: 'btn', id: 'ログアウト'
    .dum-box
      %ul.text1
        < 診療状況 >
      %ul.time-now
        （
        = Time.zone.now.strftime("%Y年%m月%d日 %H時%M分")
        現在）
    .state
      %p.curent-examination-num
        現在診察中の方の番号：
        = @current_num
        番
      %p.next-get-examination-num
        次にお取りできる診察番号：
        = @next_num
        番
  .under-box
    .take-reservation
      = button_to "受付をする", {controller: 'reservations', action: 'new', id: current_user.id}, {method: :get, class: 'btn'}
